
<div class="row">
  <div class="span12">
    <div class="flexslider">
      <ul class="slides">
        <li><%= image_tag "homepage/opening_statement.png" %></li>
        <!-- <li><a href="/work/capital-one-visionday-2013/"><%= image_tag "homepage/capital_one_visionday_2013.jpg" %></a></li> -->
        <li><a href="/work/astellas-smm-2013/"><%= image_tag "homepage/smm_2013.jpg" %></a></li>
        <li><%= image_tag "homepage/kelloggs_great_is.jpg" %></li>
        <li><%= image_tag "homepage/allergan.jpg" %></li>
        <li><%= image_tag "homepage/AWARDWINNERS.jpg" %></li>

        <% %w[capital-one-visionday-2012 kelloggs-2011].each do |name| %>
        <li><a href="/work/<%= name %>/"><%= image_tag "/work/#{name}/slide.jpg" %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
